fastapi
uvicorn
python-dotenv
supabase
yfinance
pandas
numpy
scikit-learn
requests
python-jose[cryptography]
email-validator
xgboost
prophet
langchain
langchain-openai
ta
chromadb
beautifulsoup4
feedparser
langchain-community
langchain-google-genai
optuna
langgraph
langgraph-checkpoint-sqlite
duckduckgo-search
langchain-experimental
cachetools
python-multipart
pytz
